#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	meson setup build --prefix=/usr

override_dh_auto_build:
	meson compile -C build

override_dh_auto_install:
	meson install -C build --destdir $(CURDIR)/debian/ssh-proxy-tray

override_dh_auto_clean:
	rm -rf build
